# The merge function

In [1]:
import pandas as pd

left_df = pd.DataFrame({
                    'firm': ['Accenture','Citi','GS'],
                    'varA': ['A1', 'A2', 'A3']})

right_df = pd.DataFrame({
                    'firm': ['GS','Chase','WF'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})

Let use shift+tab to talk about the parameters.

Put your cursor in the merge function below and hit shift tab

In [2]:
# left_df.merge(

The main parameters:
- right - whats the name of the other df we are using?
- how 
- on and its variants - what variable or variableS do we need to use to match?
   - firm name, or ticker, etc
   - can be multiple: ['tic','date'] 
- indicator - useful! always use
- validate - useful! always use

## Some tips!

Pick the "keys" you'll merge on

what are the obs levels in each data
Ex: firm merge, or firm-year merge?
Before (before!) your merge, examine the keys

I provided a function that will help
double check: len() before and after merge
Always specify how, on, indicator, and validate inside pd.merge()

After the merge, check that it did what you expected, and give the resulting dataframe a good name. Don't name it "merged"!!!

## Part 1

_Prof: Leave the "how" slide on the board_

Some work with the mechanics:

- Q0 Merge both datasets above with each possible value of `how`. How many observations result from each of the four merges?

In [3]:
left_df.merge(right_df, how = 'inner', on='firm')

  firm varA varB varc
0   GS   A3   B1   C1

In [4]:
# so left is a COMMON way to merge 
# it's like adding variables to the left df 
left_df.merge(right_df, how = 'left', on='firm')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1

In [5]:
left_df.merge(right_df, how = 'right', on='firm')

    firm varA varB varc
0     GS   A3   B1   C1
1  Chase  NaN   B2   C2
2     WF  NaN   B3   C3

In [6]:
left_df.merge(right_df, how = 'outer', on='firm')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1      Chase  NaN   B2   C2
2       Citi   A2  NaN  NaN
3         GS   A3   B1   C1
4         WF  NaN   B3   C3

- Q1 Compare `left_df.merge(right_df)` and `pd.merge(left_df, right_df)`. Are they the same or different? What do we learn from this?

In [7]:
left_df.merge(right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [8]:
pd.merge(left_df, right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [9]:
ChosenOne = pd.DataFrame({
                    'tic': ['GS','GS','GS'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['GS','GS','GS'],
                    'varD': ['D1', 'D2', 'D3'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

- Q2 Successfully do an outer merge between `left_df` and `ChosenOne`. Then try to do an outer merge between `left_df` and `CurryForThree` (both are defined below)

In [10]:
left_df.merge(ChosenOne, 
              left_on='firm',
              right_on='tic',
              how='outer')

        firm varA  tic varB varc
0  Accenture   A1  NaN  NaN  NaN
1       Citi   A2  NaN  NaN  NaN
2         GS   A3   GS   B1   C1
3         GS   A3   GS   B2   C2
4         GS   A3   GS   B3   C3

In [11]:
# or: rename the key vars inside the merge 
left_df.merge(ChosenOne.rename(columns={'tic':'firm'}), 
              on='firm',
              how='outer')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1
3         GS   A3   B2   C2
4         GS   A3   B3   C3

In [12]:
ChosenOne # the variable is still called tic
# it was just temporarily changed inside the merge function

  tic varB varc
0  GS   B1   C1
1  GS   B2   C2
2  GS   B3   C3

In [13]:
left_df.merge(CurryForThree, 
              left_on='firm',
              right_on='var1',
              how='outer')

        firm varA varD varE
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   D1   E1
3         GS   A3   D2   E2
4         GS   A3   D3   E3

- Q3 Do an outer merge with `left_df` and `right_df` and output the source of each observation by using the "indicate" option.

## AFTER ALL MERGES, COUNT THE SIZE OF THE NEW DATAFRAME AND TABULATE SOURCES

In [14]:
len_before = len(left_df)

a_bad_name = left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True)
display(a_bad_name)

print('len after',len(a_bad_name), 'len before',len_before )

# suppose you think the size should be equal
# this is one way to enforce that, but later we will use 
# validate
# assert len(a_bad_name) == len(left_df)

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

len after 5 len before 3

In [15]:
# you must!
# last good check: tabulate sources of obs
a_bad_name['_merge'].value_counts()

_merge
left_only     2
right_only    2
both          1
Name: count, dtype: int64

In [16]:
# validate is a built in assertion 
# the merge won't work, unless the merge is 1:1
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='1:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

- Q4 Repeat the outer merge we just did, but four times: try each possible value of "validate"

In [20]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='1:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

In [21]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='m:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

In [22]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='m:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

## validate didn't stop any of these merges!

Why? Because in "join" parlance, 1 is a subset of "many". So a 1:1 is also 1:m, also m:1, also m:m

By extension: ALL merges satisfy the m:m check

**NEVER type validate m:m**

We will never encounter a need for a full m:m join./merge.

In [24]:
def merge_type(df1,df2,on):
    '''
    This function could use case test. E.g.: multiple key vars, missing vars 
    
    Feature request: This only works if the key vars are named the same in both datasets.  
    '''
    # if there are duplicates, dropping them will shrink the key vector
    if len(df1[on]) > len(df1[on].drop_duplicates()):
        _l = "many"
    else:
        _l = "one"
    if len(df2[on]) > len(df2[on].drop_duplicates()):
        _r = "many"
    else:
        _r = "one"
    return "{}_to_{}".format(_l,_r)

In [25]:
merge_type(left_df,right_df,on='firm') # mechanical answer but not conceptual

'one_to_one'

## Part 2

- Q5: [Guess what category of join](https://ledatascifi.github.io/ledatascifi-2025/content/03/05b_merging.html#categories-of-joins) each of the following merges are?  
    1. `left_df` and `right_df` (you already know from Q4)
    1. `left_df` and `ChosenOne`
    1. `CurryForThree` and `left_df`
    1. `ChosenOne` and `CurryForThree`

- Q6: Do each of those four merge with `how='inner'` as an option. What is the length of each resulting dataframe?

In [26]:
left_df.merge(right_df, 
              how = 'inner', 
              on='firm',
             indicator=True,
             validate='1:1')

  firm varA varB varc _merge
0   GS   A3   B1   C1   both

In [28]:
left_df.merge(ChosenOne, 
              how = 'inner', 
              left_on='firm',right_on='tic',
             indicator=True,
             validate='1:m')

  firm varA tic varB varc _merge
0   GS   A3  GS   B1   C1   both
1   GS   A3  GS   B2   C2   both
2   GS   A3  GS   B3   C3   both

In [29]:
CurryForThree.merge(left_df, 
              how = 'inner', 
              left_on='var1',right_on='firm',
             indicator=True,
             validate='m:1')

  varD varE firm varA _merge
0   D1   E1   GS   A3   both
1   D2   E2   GS   A3   both
2   D3   E3   GS   A3   both

In [31]:
CurryForThree.merge(ChosenOne, 
              how = 'inner', 
              left_on='var1',right_on='tic',
             indicator=True,
             validate='m:m')

  varD varE tic varB varc _merge
0   D1   E1  GS   B1   C1   both
1   D1   E1  GS   B2   C2   both
2   D1   E1  GS   B3   C3   both
3   D2   E2  GS   B1   C1   both
4   D2   E2  GS   B2   C2   both
5   D2   E2  GS   B3   C3   both
6   D3   E3  GS   B1   C1   both
7   D3   E3  GS   B2   C2   both
8   D3   E3  GS   B3   C3   both

- Q7: Do an outer merge of `left_df` and `ChosenOne`. How many observations are in the resulting data, and why is it different than we foudn in Q6?

In [32]:
left_df.merge(ChosenOne, 
              how = 'outer', 
              left_on='firm',right_on='tic',
             indicator=True,
             validate='1:m')

        firm varA  tic varB varc     _merge
0  Accenture   A1  NaN  NaN  NaN  left_only
1       Citi   A2  NaN  NaN  NaN  left_only
2         GS   A3   GS   B1   C1       both
3         GS   A3   GS   B2   C2       both
4         GS   A3   GS   B3   C3       both

- Q8: Merge these next two datasets with `how='inner'` as an option. What s the length of the resulting dataframe and do you think it's right?

In [43]:
poppop = pd.DataFrame({
                    'tic': ['TSLA','TSLA','GM'],
                    'varB': ['2016', '2017', '2018'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['F','TSLA','TSLA'],
                    'varD': ['2016', '2017', '2018'],
                    'varc': ['E1', 'E2', 'E3']}).set_index('var1')

In [44]:
poppop

    tic  varB varc
0  TSLA  2016   C1
1  TSLA  2017   C2
2    GM  2018   C3

In [45]:
CurryForThree

      varD varc
var1
F     2016   E1
TSLA  2017   E2
TSLA  2018   E3

In [46]:
poppop.merge(CurryForThree.reset_index(),
             how='inner',
             left_on=['tic','varB'],
             right_on=['var1','varD'],
             indicator=True,
             validate='1:1')

    tic  varB varc_x  var1  varD varc_y _merge
0  TSLA  2017     C2  TSLA  2017     E2   both

## Part 3 - Collecting tips

You should, after class, collect tips about
- The most common use of merging and safeguards you can use
- When should you create variables - before or after a merge?
- Best practices for merging

3.4.1.5 **
3.4.1.6 *&*