# The merge function

In [34]:
import pandas as pd

left_df = pd.DataFrame({
                    'firm': ['Accenture','Citi','GS'],
                    'varA': ['A1', 'A2', 'A3']})

right_df = pd.DataFrame({
                    'firm': ['GS','Chase','WF'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})

Let use shift+tab to talk about the parameters.

Put your cursor in the merge function below and hit shift tab

In [35]:
left_df.merge(

SyntaxError: incomplete input (2004972906.py, line 1)

The main parameters:
- right - whats the name of the other df we are using?
- how 
- on and its variants - what variable or variableS do we need to use to match?
   - firm name, or ticker, etc
   - can be multiple: ['tic','date'] 
- indicator - useful! always use
- validate - useful! always use

## Some tips!

Pick the "keys" you'll merge on

what are the obs levels in each data
Ex: firm merge, or firm-year merge?
Before (before!) your merge, examine the keys

I provided a function that will help
double check: len() before and after merge
Always specify how, on, indicator, and validate inside pd.merge()

After the merge, check that it did what you expected, and give the resulting dataframe a good name. Don't name it "merged"!!!

## Part 1

_Prof: Leave the "how" slide on the board_

Some work with the mechanics:

- Q0 Merge both datasets above with each possible value of `how`. How many observations result from each of the four merges?

In [36]:
left_df.merge(right_df, how = 'inner', on='firm')

  firm varA varB varc
0   GS   A3   B1   C1

In [37]:
# so left is a COMMON way to merge 
# it's like adding variables to the left df 
left_df.merge(right_df, how = 'left', on='firm')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1

In [38]:
left_df.merge(right_df, how = 'right', on='firm')

    firm varA varB varc
0     GS   A3   B1   C1
1  Chase  NaN   B2   C2
2     WF  NaN   B3   C3

In [39]:
left_df.merge(right_df, how = 'outer', on='firm')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1      Chase  NaN   B2   C2
2       Citi   A2  NaN  NaN
3         GS   A3   B1   C1
4         WF  NaN   B3   C3

- Q1 Compare `left_df.merge(right_df)` and `pd.merge(left_df, right_df)`. Are they the same or different? What do we learn from this?

In [40]:
left_df.merge(right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [41]:
pd.merge(left_df, right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [42]:
ChosenOne = pd.DataFrame({
                    'tic': ['GS','GS','GS'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['GS','GS','GS'],
                    'varD': ['D1', 'D2', 'D3'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

- Q2 Successfully do an outer merge between `left_df` and `ChosenOne`. Then try to do an outer merge between `left_df` and `CurryForThree` (both are defined below)

In [43]:
left_df.merge(ChosenOne, 
              left_on='firm',
              right_on='tic',
              how='outer')

        firm varA  tic varB varc
0  Accenture   A1  NaN  NaN  NaN
1       Citi   A2  NaN  NaN  NaN
2         GS   A3   GS   B1   C1
3         GS   A3   GS   B2   C2
4         GS   A3   GS   B3   C3

In [44]:
# or: rename the key vars inside the merge 
left_df.merge(ChosenOne.rename(columns={'tic':'firm'}), 
              on='firm',
              how='outer')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1
3         GS   A3   B2   C2
4         GS   A3   B3   C3

In [45]:
ChosenOne # the variable is still called tic
# it was just temporarily changed inside the merge function

  tic varB varc
0  GS   B1   C1
1  GS   B2   C2
2  GS   B3   C3

In [46]:
left_df.merge(CurryForThree, 
              left_on='firm',
              right_on='var1',
              how='outer')

        firm varA varD varE
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   D1   E1
3         GS   A3   D2   E2
4         GS   A3   D3   E3

- Q3 Do an outer merge with `left_df` and `right_df` and output the source of each observation by using the "indicate" option.

## AFTER ALL MERGES, COUNT THE SIZE OF THE NEW DATAFRAME AND TABULATE SOURCES

In [48]:
len_before = len(left_df)

a_bad_name = left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True)
display(a_bad_name)

print('len after',len(a_bad_name), 'len before',len_before )

# suppose you think the size should be equal
# this is one way to enforce that, but later we will use 
# validate
# assert len(a_bad_name) == len(left_df)

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

len after 5 len before 3

In [49]:
# you must!
# last good check: tabulate sources of obs
a_bad_name['_merge'].value_counts()

_merge
left_only     2
right_only    2
both          1
Name: count, dtype: int64

In [52]:
# validate is a built in assertion 
# the merge won't work, unless the merge is 1:1
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='1:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

- Q4 Repeat the outer merge we just did, but four times: try each possible value of "validate"

In [31]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='1:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

In [32]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='m:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

In [33]:
left_df.merge(right_df, 
              how = 'outer', 
              on='firm',
             indicator=True,
             validate='m:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

## validate didn't stop any of these merges!

Why? Because in "join" parlance, 1 is a subset of "many". So a 1:1 is also 1:m, also m:1, also m:m

By extension: ALL merges satisfy the m:m check

**NEVER type validate m:m**

We will never encounter a need for a full m:m join./merge.

Now, let's add two more NBA themed datasets to the party:

## Part 2

- Q5: [Guess what category of join](https://ledatascifi.github.io/ledatascifi-2025/content/03/05b_merging.html#categories-of-joins) each of the following merges are?  
    1. `left_df` and `right_df` (you already know from Q4)
    1. `left_df` and `ChosenOne`
    1. `CurryForThree` and `left_df`
    1. `ChosenOne` and `CurryForThree`

- Q6: Do each of those four merge with `how='inner'` as an option. What is the length of each resulting dataframe?

- Q7: Do an outer merge of `left_df` and `ChosenOne`. How many observations are in the resulting data, and why is it different than we foudn in Q6?

- Q8: Merge these next two datasets with `how='inner'` as an option. What s the length of the resulting dataframe and do you think it's right?

In [ ]:
poppop = pd.DataFrame({
                    'tic': ['TSLA','TSLA','GM'],
                    'varB': ['2016', '2017', '2018'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['F','TSLA','TSLA'],
                    'varD': ['2016', '2017', '2018'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

## Part 3 - Collecting tips

You should, after class, collect tips about
- The most common use of merging and safeguards you can use
- When should you create variables - before or after a merge?
- Best practices for merging